#
# Copyright (C) 2022-2024 Lin Song <linsongui@gmail.com>

name: test_set_2

on: workflow_call

jobs:
  test_set_2:
    runs-on: ubuntu-22.04
    if: github.repository_owner == 'hwdsl2'
    strategy:
      matrix:
        os_version: ["debian:12", "debian:11"]
      fail-fast: false
    container:
      image: ${{ matrix.os_version }}
      options: --cap-add=NET_ADMIN
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Test
        run: |
          set -ex

          mkdir -p /opt/src
          cd /opt/src
          ls -ld "$GITHUB_WORKSPACE/wireguard-install.sh"

          export DEBIAN_FRONTEND=noninteractive
          apt-get -yqq update
          apt-get -yqq dist-upgrade
          apt-get -yqq install wget kmod procps net-tools

          cp -f "$GITHUB_WORKSPACE"/wireguard-install.sh ./wireguard.sh

          bash wireguard.sh --auto

          ls -ld ~/client.conf
